<p-toast />
<p-confirmDialog></p-confirmDialog>
<div class="dashboard">
  <div class="header">
    <h1>Raças</h1>
    <ng-container>
      <p-button
        label="Cadastre um Novo"
        icon="fa-solid fa-plus"
        severity="primary"
        (click)="cadastrar()"
      ></p-button>
    </ng-container>
  </div>
  <div class="card">
    <app-tabela-padrao
      [items]="items"
      [columns]="colunas"
      [rows]="5"
      [tableMinWidth]="'50rem'"
      [rowsPerPageOptions]="[5, 10, 20]"
      (edit)="editar($event)"
      (delete)="deleteItem($event)"
    ></app-tabela-padrao>
    
  </div>
</div>
