<p-toast />
<p-confirmDialog></p-confirmDialog>
<div class="dashboard">
  <div class="header">
    <h1>Clientes</h1>
    <ng-container *appHasRole="'Admin'">
      <p-button
        label="Cadastre um Novo"
        icon="fa-solid fa-plus"
        severity="primary"
        (click)="cadastrar()"
      ></p-button>
    </ng-container>
  </div>
  <div class="card">
    <p-table
      [value]="items"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
      [expandedRowKeys]="expandedRows"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th style="text-align: center">ID</th>
          <th style="text-align: center">Nome</th>
          <th style="text-align: center">CPF</th>
          <th style="text-align: center">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-expanded="expanded">
        <tr>
          <td>
            <p-button
              type="button"
              pRipple
              [pRowToggler]="item"
              [text]="true"
              [rounded]="true"
              [plain]="true"
              [icon]="expanded ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'"
            />
          </td>
          <td class="text-align">{{ item.usuario.id }}</td>
          <td class="text-align">{{ item.usuario.nome }}</td>
          <td class="text-align">{{ item.usuario.cpf }}</td>
          <td class="text-align btn-wrapper">
            <p-button
              icon="fa-solid fa-pen"
              severity="success"
              (click)="editar(item.id)"
              *appHasRole="'Admin'"
            />
            <p-button
              icon="fa-solid fa-remove"
              severity="danger"
              *appHasRole="'Admin'"
              (onClick)="deleteItem(item)"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Não há dados.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-cliente>
        <tr>
          <td colspan="7">
            <p-panel header="Endereços" [toggleable]="true" [collapsed]="false">
              <div class="header">
                <h1></h1>
                <p-button
                  label="Novo Endereço"
                  icon="fa-solid fa-plus"
                  severity="primary"
                  (click)="editarEndereco(cliente)"
                ></p-button>
              </div>
              <div class="p-3">
                <p-table [value]="cliente.enderecos" dataKey="id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>
                        ID
                      </th>
                      <th>
                        Logradouro
                      </th>
                      <th>
                        Complemento
                      </th>
                      <th>
                        Bairro 
                      </th>
                      <th>
                        Cidade
                      </th>
                      <th style="text-align: center">Ações</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-endereco>
                    <tr>
                      <td>{{ endereco.id }}</td>
                      <td>{{ endereco.logradouro }}</td>
                      <td>{{ endereco.complemento }}</td>
                      <td>{{ endereco.bairro }}</td>
                      <td>{{ endereco.cidade }}</td>
                      <td class="text-align btn-wrapper">
                        <p-button
                          icon="fa-solid fa-remove"
                          severity="danger"
                          (onClick)="deleteEndereco(endereco)"
                        />
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">
                        Não há dados.
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-panel>
            <p-panel header="Contatos" [toggleable]="true" [collapsed]="false">
              <div class="header">
                <h1></h1>
                <p-button
                  label="Novo Contato"
                  icon="fa-solid fa-plus"
                  severity="primary"
                  (click)="editarContato(cliente)"
                ></p-button>
              </div>

              <div class="p-3">
                <p-table [value]="cliente.contatos" dataKey="id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>
                        ID
                      </th>
                      <th>
                        Tipo
                      </th>
                      <th>
                        Contato
                      </th>
                      <th style="text-align: center">Ações</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-contato>
                    <tr>
                      <td>{{ contato.id }}</td>
                      <td>{{ contato.tipo }}</td>
                      <td>{{ contato.tag }}</td>
                      <td class="text-align btn-wrapper">
                        <p-button
                          icon="fa-solid fa-remove"
                          severity="danger"
                          (onClick)="deleteContato(contato)"
                        />
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">
                        Não há dados.
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-panel>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <app-edit-endereco [visible]="editEndereco" (dialogClosed)="onFecharDialogEndereco()" (enderecoSalvo)="cadastrarEndereco($event)"></app-edit-endereco>
  <app-edit-contato [visible]="editContato" (dialogClosed)="onFecharDialogContato()" (contatoSalvo)="cadastrarContato($event)"></app-edit-contato>

</div>

