.sidebar {
  width: 250px;
  background-color: #2d3436;
  color: white;
  height: 100vh;
  padding: 1rem;
}
.logo-area {
  padding: 1rem 0;
  border-bottom: 1px solid #4a4a4a;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo {
  width: 40px;
  height: 40px;
}

.background-menu {
  background-color: white;
  border-radius: 8px;
}