<div class="dashboard">
  <h1>Dashboard</h1>
  <h4>{{ 'Bem-vindo, ' + nome }}</h4>
  
  
  <div class="stats-container">
    <div class="stats-card">
      <div class="card-wrapper red">
        <p-card>
          <div class="stat-content">
            <div class="stat-value">{{ info?.numClientes}}</div>
            <div class="stat-label">Clientes Cadastrados</div>
          </div>
        </p-card>
      </div>
    </div>
    <div class="stats-card">
      <div class="card-wrapper teal">
        <p-card>
          <div class="stat-content">
            <div class="stat-value">{{ info?.numPets}}</div>
            <div class="stat-label">Pets Cadastrados</div>
          </div>
        </p-card>
      </div>
    </div>
    
    <div class="stats-card">
      <div class="card-wrapper blue">
        <p-card>
          <div class="stat-content">
            <div class="stat-value">{{ info?.numRacas}}</div>
            <div class="stat-label">Raças cadastradas</div>
          </div>
        </p-card>
      </div>
    </div>
    
    <div class="stats-card">
      <div class="card-wrapper green">
        <p-card>
          <div class="stat-content">
            <div class="stat-value">{{ info?.numAtendimentos}}</div>
            <div class="stat-label">Atendimentos Realizados</div>
          </div>
        </p-card>
      </div>
    </div>
    
    <div class="stats-card">
      <div class="card-wrapper yellow">
        <p-card>
          <div class="stat-content">
            <div class="stat-value">{{ (info?.valorArrecadado ? info?.valorArrecadado : 0) | currency:'BRL' }} </div>
            <div class="stat-label">Valor Total de Atendimentos</div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>